/*  your css code here. If applicable */
*{
	background-color:lightgrey;
	margin:0;
	padding:0;
	box-sizing:border-box;
}
:root{
	background-color:lightgrey;
}
body{
	background-color:lightgrey;
}
.head{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	text-align:center;	
}
.head >h2{
	color:#3b99e0;
}
.block-heading{
	width:330px
}
.product-block-head{
	color:#3b99e0;
}

.container{
	box-shadow:5px;
	border-radius:10px;
	display:flex;
	flex-direction:column;
	  width:100vw;
    height:100vh;
}
