/*  your css code here. If applicable */
*{
	background-color:lightgrey;
	
}
.block-heading{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	text-align:center;	
}
.block-heading>h2{
	color:#3b99e0;
	text-align:center;
	font-size:30px;
}
.block-heading > p{
	width:330px
}
.product-block-head{
	color:#3b99e0;
}

.container-lg{
	box-shadow:15px;
	border-radius:10px;
	display:flex;
    flex-direction: row;
    width:800px;
    height:800px;
    padding: 20px;
    margin:50px;
}
.row{
    display: flex;
}
.product{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:20px;
    padding: 20px;
	background-color:white;
}
.product-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.quantity{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.price{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}