/*  your css code here. If applicable */
*{
	background-color:lightgrey;
	
}
.head{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	text-align:center;	
}
.head >h1{
	color:#3b99e0;
}
.head >p{
	width:330px
}
